@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
    background-color: #8C97A4;
    background-image: url('./assets/backgroundnoise.png');
    justify-content: center;

    font-family: 'Baloo 2';
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center; 
    margin-top: 0px;          
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center; 
    margin-top: 0px;          
    text-align: center;
}

#camera {
    width: 800px;
    height: 600px;
    transform: scaleX(-1); /* Mirror the video feed */
}

#countDown {
    position: absolute;
    right: 30px;             
    top: 50%;                 
    transform: translateY(-50%);

    font-family: 'Baloo 2', cursive;
    font-size: 60px;

    border-radius: 12px;
    padding: 10px 20px;
}

.photoGallery {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
  

h2 {
    margin-top: 0px;
}
